.full-screen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/taquilla.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Ajusta la dirección del contenido a columna */
}

.parent-container {
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.scrollable-container {
    height: 75vh;
    overflow-y: auto;
    z-index: 2;  /* Asegura que esté sobre el botón si es necesario */
    position: relative;  /* Relativo para mantener centrado */
}

.center-container {
    display: flex;
    justify-content: center; /* Aligns horizontally in the middle */
    align-items: center; /* Aligns vertically in the middle */
}

.responsive-image {
    max-width: 69%;
    height: auto;
    min-width: 200px; /* Adjust as needed */
    min-height: 200px; /* Adjust as needed */
}

.container h1 {
    margin-bottom: 30px;
    color: #fff; /* Cambia el color a blanco */
    font-size: 2.5rem;
}

.button-container {
    display: flex;
    flex-direction: column; /* Cambio para acomodar los botones verticalmente */
    align-items: center; /* Alinea los botones al centro */
    gap: 10px; /* Ajusta el espacio entre los botones */
    padding: 20px;
}

.btn {
    background-color: #28a745; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 50px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Used to be able to set a width */
    font-size: 18px; /* Set a font-size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /* Adds a subtle shadow */
    transition: all 0.2s; /* Smooth transition for hover effects */
    width: 50%; /* Ajusta el ancho de los botones */
    min-width: 200px;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: #218838; /* Darker shade of green */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Increased shadow */
}


.back-button {
    padding: 10px 20px;
    background-color: #888888;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-button:hover{
    transform: translateY(-2px);
    background-color: #4a4a4a; /* Darker shade of blue */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Increased shadow */
}