<div class="full-screen-background">
    <div class="scrollable-container">
        <div class="leaderboard">
            <h1 class="text-center">
                <font color="#000000">Historial</font>
            </h1>
            <ul class="list-unstyled">
                <li *ngFor="let spot of partidas" class="user-container">
                    <div class="user-info">
                        <span>{{spot.nombre}}</span>
                        <p><strong>Fecha de inicio:</strong> {{ spot.fechaInicio }}</p>
                        <p><strong>Fecha de fin:</strong> {{ spot.fechaFin }}</p>
                        <p><strong>Turno:</strong> {{ spot.turno }}</p>
                        <p><strong>Jugadores: {{getJugadores(spot)}}</strong>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="back-button" routerLink="/perfil">Volver</button>
</div>