<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">{{partida.nombre}}</h1>
                <p class="card-text">Max Jugadores: {{partida.maxJugadores}}</p>
                <div class="user-container">
                  <div class="user" *ngFor="let user of users | keyvalue">
                    <img class="user-img" [src]="user.value" alt="User skin">
                    <div class="user-name">{{user.key}}</div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
              <div class="col">
                <button class="btn btn-success w-100" (click)="empezarPartida()">Empezar</button>
              </div>
              <div class="col">
                <button class="btn btn-danger w-100" (click)="confirmSalirPartida()">Abandonar</button>
              </div>
            </div>
          </div>
        <div class="card mt-4 ml-4 custom-card">
            <div class="card-header">
                <h2 class="card-title text-center">Invitar a un jugador</h2>
            </div>
            <div class="card-body">
                <input type="text" [(ngModel)]="nombreJugador" class="form-control" placeholder="Nombre del jugador">
                <button class="btn btn-primary mt-2" (click)="invitar(nombreJugador, partida._id)">Invitar</button>
            </div>
        </div>
    </div>
    
      <div class="card mt-4 ml-4">
        <div class="card-header">
          <h2 class="card-title text-center">Chat de la partida</h2>
        </div>
        <div class="card-body" #chatContainer>
          <div class="message" *ngFor="let mensaje of chat.mensajes">
            <div class="chat-bubble" [ngClass]="{'my-message': mensaje.idUsuario == myUser}">
              <p><strong>{{mensaje.idUsuario}}:</strong></p>
              <p>{{mensaje.texto}}</p>
              <p class="timestamp">{{mensaje.timestamp | date:'short'}}</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <form (submit)="sendMessage(enviarMensaje.value); enviarMensaje.value=''; $event.preventDefault()">
            <input #enviarMensaje type="text" class="form-control" placeholder="Escribe un mensaje...">
            <button class="btn btn-primary mt-2" type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>