<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">{{partida.nombre}}</h1>
                <p class="card-text">Max Jugadores: {{partida.maxJugadores}}</p>
                <p class="card-text">Usuarios: 
                    <span *ngFor="let jugador of partida.jugadores; let isLast=last">{{jugador.usuario}}{{isLast ? '' : ', '}}</span>
                </p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
              <div class="col">
                <button class="btn btn-success w-100" (click)="empezarPartida()">Empezar</button>
              </div>
              <div class="col">
                <button class="btn btn-danger w-100" (click)="salirPartida()">Abandonar</button>
              </div>
            </div>
          </div>
    </div>
</body>
</html>