<div class="background-image full-screen">
<div class="container mt-5 div-scrollable">
    <div class="row">
        <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;" *ngIf="partidas.length > 0; else noPartidas">
            <h2 class="mb-4">Partidas Públicas</h2>
            <div class="card mb-3" *ngFor="let partida of partidas">
                <div class="card-header">
                    <h3>{{ partida.nombre }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Max Jugadores: {{ partida.maxJugadores }}</p>
                    <h5 class="card-title">Jugadores:</h5>
                    <p>
                        <span *ngFor="let jugador of partida.jugadores; let isLast=last">
                            {{ jugador.usuario }}<ng-container *ngIf="!isLast">, </ng-container>
                        </span>
                    </p>
                    <button class="btn btn-primary" (click)="unirsePartida(partida)">Unirse</button>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;">
            <div class="col-md-6" style="background-color: white; border-radius: 10px;">
                <h2 class="mb-4">Unirse a Partida</h2>
                <form (ngSubmit)="unirsePartida2(idPartida.value, passwordPartida.value)">
                    <div class="form-group">
                        <label for="idPartida">ID de Partida</label>
                        <input type="text" id="idPartida" class="form-control" #idPartida required>
                    </div>
                    <div class="form-group">
                        <label for="passwordPartida">Password</label>
                        <input type="password" id="passwordPartida" class="form-control" #passwordPartida>
                    </div>
                    <button type="submit" class="btn btn-primary">Unirse a Partida</button>
                </form>
            </div>
            <div class="col-md-6" style="background-color: white; border-radius: 10px;">
                <h2 class="mb-4">Crear Partida</h2>
                <form (ngSubmit)="crearPartida(nombre.value, password.value, +numJugadores.value)">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control" #nombre required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" #password>
                    </div>
                    <div class="form-group">
                        <label for="numJugadores">Número de Jugadores</label>
                        <input type="number" id="numJugadores" class="form-control" #numJugadores required>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Partida</button>
                </form>
            </div>

        <div class="col-md-6">
            <h2 class="mb-4">Invitaciones</h2>
            <div class="card mb-3" *ngFor="let invitacion of invitaciones">
                <div class="card-header">
                    <h3>{{ invitacion.nombre }}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Usuarios:</h5>
                    <p>
                        <span *ngFor="let jugador of invitacion.jugadores; let isLast=last">
                            {{ jugador.usuario }}<ng-container *ngIf="!isLast">, </ng-container>
                        </span>
                        <button class="btn btn-primary" (click)="unirsePartida(invitacion)">Unirse</button>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <button class="btn btn-primary mb-3" routerLink="/menu">Atrás</button>
</div>

<ng-template #noPartidas>
    <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;">
        <button class="btn btn-primary mb-3" routerLink="/menu">Atrás</button>
        <p class="text-center">Actualmente no hay partidas públicas a las que te puedas unir.
            Puedes probar a crear una partida si lo deseas.
        </p>
    </div>
</ng-template>
<button class="btn btn-primary mb-3" routerLink="/menu">Atrás</button>
</div>