/* Basic Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    overflow: hidden; /* Ensures no overall page scrolling */
    background-image: url('/assets/img-wlLMJNw7DFsTAnVmTr6bh.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

/* Main Container */
.chat-app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background: #4CAF50; /* Changed to green */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5em;
}

/* Chat Setup Styling */
.chat-setup {
    background: rgba(255, 255, 255, 0.75); /* white with 50% opacity */
    padding: 20px;
    border-bottom: 2px solid #e2e2e2;
}

.input-field {
    width: calc(50% - 10px);
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styling */
button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; /* Changed to green */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388E3C; /* Changed to a darker green */
}

/* Close Button Styling */
.close-button {
    background-color: #D32F2F; /* Red color */
    color: white; /* Ensuring text is white for better visibility */
    border: none; /* Removes default browser styling */
    padding: 10px 20px;
    border-radius: 4px; /* Rounded corners for a better look */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.close-button:hover {
    background-color: #B71C1C; /* Darker red on hover for feedback */
}

.return-button {
    background-color: #9E9E9E; /* Gray color */
    color: white; /* Ensuring text is white for better visibility */
    border: none; /* Removes default browser styling */
    padding: 10px 20px;
    border-radius: 4px; /* Rounded corners for a better look */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-top: 10px;
}

.return-button:hover {
    background-color: #757575; /* Darker gray on hover for feedback */
}

/* Users List */
.user-list {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
    background: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
}

/* Main content area */
.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: calc(100vh - 250px); /* Adjust height as needed */
}

/* Chat List Styling */
.chat-list {
    width: 250px;
    background: rgba(255, 255, 255, 0.75); /* white with 50% opacity */
    overflow-y: auto; /* Scroll only the chat list */
    border-right: 1px solid #e2e2e2;
    height: calc(100vh - 250px); /* Adjust height as needed */
}

.chat-list h2 {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    background: #f9f9f9;
}

.chat-list-item {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}

.chat-list-item:hover {
    background: #f0f0f0;
}

/* Chat Container & Chat Window Styling */
.chat-container {
    flex-grow: 1;
    overflow-y: auto; /* Scroll only the chat container */
}

.chat-window {
    background: rgba(255, 255, 255, 0.8); /* white with 50% opacity */
    margin: 20px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    overflow: hidden; /* Keep all content within bounds */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px); /* Adjust height as needed */
}

.chat-participants, .chat-messages {
    padding: 10px;
}

.chat-messages {
    overflow-y: auto; /* Enables scrolling for messages */
    flex-grow: 1; /* Allows this section to take up available space */
}

/* Ensure the chat input stays at the bottom */
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #e2e2e2;
}

.chat-participants ul, .chat-messages ul {
    list-style: none;
}

.chat-setup button:nth-of-type(2) {
    margin-left: 10px; /* Añade espacio a la izquierda del segundo botón */
}

/* Espacio entre los botones Open y Exit */
.chat-details .chat-buttons button:nth-of-type(2) {
    margin-left: 10px; /* Añade espacio a la izquierda del botón Exit */
}


/* Message Styling */
.message-info {
    font-size: 0.85em;
    color: #666;
}

.message-text {
    margin-top: 5px;
    font-size: 1em;
}

.chat-bubble {
    position: relative;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #f0f0f0;
    border-left: 0;
    border-right: 10px solid #f0f0f0;
    margin-top: -10px;
    margin-left: -10px;
}

.my-message .chat-bubble {
    background: #a8e6cf;
    color: black;
    align-self: flex-end;
}

.my-message .chat-bubble:after {
    left: auto;
    right: 0;
    border-left-color: #a8e6cf;;
    border-right: 0;
    border-left: 10px solid #a8e6cf;;
    margin-left: 0;
    margin-right: -10px;
}

.input-message {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    padding: 10px 20px;
    background: #f0f0f0;
    text-align: center;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
    .main-content {
        display: flex;
        flex: 1; /* Takes up all available space */
        overflow: hidden; /* Prevents scrolling outside */
    }
    
    .chat-list {
        width: 100%; /* Ensure full width in small screens */
        overflow-y: auto; /* Allows scrolling within the chat list */
        border-right: none; /* Remove separation on small screens */
    }
    
    .chat-container {
        flex-grow: 1; /* Takes up remaining space */
        overflow-y: auto; /* Allows scrolling within the chat area */
    }
}
