/* login.component.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/login_regis.jpg'); /* Cambia 'ruta/de/la/imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Cambia la fuente según tu preferencia */
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: white;
}

/* Resto del código CSS sigue igual */

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}