.full-screen-container {
    position: fixed; /* Posición fija en toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* 100% del viewport width */
    height: 100vh; /* 100% del viewport height */
    background-image: url('/assets/login_regis.jpg'); /* Establece la imagen de fondo */
    background-size: cover; /* Cubre todo el contenedor sin deformar la imagen */
    background-position: center; /* Centra la imagen en el contenedor */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: -1; /* Pone el fondo detrás del contenido */
  }
  
  .login-container {
    max-width: 400px;
    width: 90%; /* Agrega un máximo de ancho relativo */
    margin: auto; /* Centrado automático en el flexbox parent */
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: white; /* Fondo blanco para el formulario */
    z-index: 1; /* Asegura que el formulario esté sobre el fondo */
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/login_regis.jpg'); /* Cambia 'ruta/de/la/imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Cambia la fuente según tu preferencia */
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: white;
  }
  
  /* Resto del código CSS sigue igual */
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc; /* Color inicial gris cuando está deshabilitado */
    color: white;
    font-size: 18px;
    cursor: not-allowed; /* Cursor que indica que no está permitido */
    margin-top: 10px;
}

.btn-primary:enabled {
    background-color: #28a745; /* Verde cuando está habilitado */
    cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
}

.btn-primary:hover:enabled {
    background-color: #218838; /* Verde más oscuro en hover cuando está habilitado */
}

.form-control:focus {
    border-color: #28a745; /* Cambio de azul a verde */
    box-shadow: 0 0 0 2px rgba(40, 167, 69, .25); /* Sombra verde alrededor del input en foco */
}
