.full-screen-container {
    width: 100vw; /* 100% del viewport width */
    height: 100vh; /* 100% del viewport height */
    background-image: url('/assets/login_regis.jpg'); /* Establece la imagen de fondo */
    background-size: cover; /* Cubre todo el contenedor sin deformar la imagen */
    background-position: center; /* Centra la imagen en el contenedor */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
  }
  
  .login-container {
    width: 300px; /* Ancho del contenedor de login */
    padding: 20px; /* Espacio interior para mejor visualización */
    background: white; /* Fondo blanco para el formulario */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .form-control {
    width: 100%; /* Ancho del input al 100% del contenedor padre */
    margin-bottom: 10px; /* Margen inferior para separar los inputs */
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc; /* Color inicial gris cuando está deshabilitado */
    color: white;
    font-size: 18px;
    cursor: not-allowed; /* Cursor que indica que no está permitido */
    margin-top: 10px;
}

.btn-primary:enabled {
    background-color: #28a745; /* Verde cuando está habilitado */
    cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
}

.btn-primary:hover:enabled {
    background-color: #218838; /* Verde más oscuro en hover cuando está habilitado */
}

.form-control:focus {
    border-color: #28a745; /* Cambio de azul a verde */
    box-shadow: 0 0 0 2px rgba(40, 167, 69, .25); /* Sombra verde alrededor del input en foco */
}
