<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="tienda.component.css">
</head>
<body>
    <div class="background-image">
        <div class="container">
            <h1>
                <font color="#ffffff">Tienda</font>
            </h1>
            <button (click)="retrieveSkins()">Retrieve Skins</button>
            <div class="product" *ngFor="let skin of retrievedSkins">
                <img [src]="skin.path" [alt]="skin.idSkin">
                <div>
                    <h3>{{skin.idSkin}}</h3>
                    <p>Precio: {{skin.precio}}</p>
                    <button>Comprar</button>
                </div>
            </div>

            <button class="button" routerLink="/menu">Volver</button>
        </div>
    </div>
</body>
</html>