@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background-image {
  background-image: url('/assets/tienda.jpg');
  height: 100%; /* Cambiado a 100% para que ocupe toda la altura del contenedor */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.container {
  max-width: 800px;
  margin: 20px auto; /* Ajustado para dejar un espacio superior e inferior */
  height: 95vh; /* Adjust this value as needed */
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100px;
  margin-right: 20px;
}

.product button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:disabled {
  background-color: #888888;
  cursor: not-allowed;
}

