@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background-image {
  background-image: url('/assets/tienda.jpg');
  height: 100%; /* Cambiado a 100% para que ocupe toda la altura del contenedor */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.container {
  max-width: 800px;
  margin: 20px auto; /* Ajustado para dejar un espacio superior e inferior */
  height: 95vh; /* Adjust this value as needed */
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100px;
  margin-right: 20px;
}

.product button{
    background-color: #28a745;
    color: #ffffff;
}

.product button:hover{
    background-color: #19652b; /* Darker shade of blue */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Increased shadow */
}

.back-button {
    
    position: absolute;  /* Posicionamiento absoluto dentro del contenedor de fondo */
    bottom: 10px;  /* Abajo del todo, con un pequeño margen */
    left: 10px;  /* A la izquierda del todo, con un pequeño margen */
    z-index: 1;  /* Menor z-index para no interferir con el scrollable container */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #888888;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover{
    transform: translateY(-2px);
    background-color: #4a4a4a; /* Darker shade of blue */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Increased shadow */
}

.d-flex button{
  background-color: #28a745;
  color: #ffffff;
  border-color: #28a745;
}

.d-flex button:hover{
  background-color: #19652b; /* Darker shade of blue */
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Increased shadow */
  border-color: #19652b;
}