.background-image {
    background-image: url('/assets/tienda.jpg'); /* Asegúrate de que la ruta de la imagen es correcta */
    height: 100vh; /* Ajusta la altura al 100% de la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Esto asegura que .buttons-container se posicione correctamente */
  }