<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<body>
    
    <div class="full-screen background-image">
        <div class="container">
            <h1 class="text-center">
                <font color="#ffffff">Tienda</font>
            </h1>
            <p class="text-white"><i class="fas fa-dollar-sign"></i> Dinero: {{ this.money }}</p>
            <!-- Spinners and input boxes in the same row -->
            <div class="row">
                <!-- Order spinner -->
                <div class="col">
                    <label class="text-white">Ordenar</label>
                    <select class="form-control form-control-sm" [(ngModel)]="opciones.sortBy">
                        <option value="precio">Precio (Ascendente)</option>
                        <option value="idSkin">A-Z</option>
                    </select>
                </div>

                <!-- Price boxes -->
                <div class="col">
                    <label class="text-white">Precio mínimo</label>
                    <input type="number" min="0" class="form-control form-control-sm" [(ngModel)]="opciones.precioMin">
                </div>
                <div class="col">
                    <label class="text-white">Precio máximo</label>
                    <input type="number" min="0" class="form-control form-control-sm" [(ngModel)]="opciones.precioMax">
                </div>

                <!-- Type spinner -->
                <div class="col">
                    <label class="text-white">Filtrar por tipo</label>
                    <select class="form-control form-control-sm" [(ngModel)]="opciones.tipo">
                        <option value="Avatar">Avatar</option>
                        <option value="setFichas">Set Fichas</option>
                        <option value="Terreno">Terreno</option>
                    </select>
                </div>
            </div>

            <!-- Retrieve Skins button below the spinners and centered -->
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mt-3 mb-3" (click)="retrieveSkins()">Buscar</button>
            </div>

            <div class="product" *ngFor="let skin of retrievedSkins">
                <img [src]="skin.path" [alt]="skin.idSkin">
                <div>
                    <h3>{{skin.idSkin}}</h3>
                    <p>Precio: {{skin.precio}}</p>
                    <p>Tipo: {{skin.tipo}}</p>
                    <!-- Comprar button smaller -->
                    <button class="btn btn-success btn-sm" (click)="buySkin(skin.idSkin)" *ngIf="!isOwned(skin)">Comprar</button>
                    <p class="text-italic" *ngIf="isOwned(skin)">En propiedad</p>
                </div>
            </div>
            
        </div>
        <button class="back-button" routerLink="/menu">Volver</button>

    </div>
</body>