<div class="background-image">
  <div class="buttons-container">
    <div class="buttons-wrapper">
      <button class="button" (click)="NuevaPartida()">Jugar</button>
      <button class="button" routerLink="/tienda">Tienda</button>
      <button class="button" routerLink="/ranking">Ranking</button>      
      <button class="button" routerLink="/perfil">Perfil</button>
      <button class="button" routerLink="/chat">Chats</button> <!-- New button for chats -->
      <button class="button" routerLink="/partidas">Partidas</button>
    </div>
  </div>
</div>