<div class="background-image">
  <div class="buttons-container">
    <div class="buttons-wrapper">
      <!--<button class="button" (click)="NuevaPartida()">Jugar</button> -->
      <button class="button" routerLink="/tienda">Tienda</button>
      <button class="button" routerLink="/ranking">Ranking</button>      
      <button class="button" routerLink="/perfil">Perfil</button>
      <button class="button" routerLink="/chat">Chats</button> <!-- New button for chats -->
      <button class="button" routerLink="/partidas">Partidas</button>
    </div>
  </div>
  <!-- New button for notifications -->
  <button class="button notif-button" (click)="showNotif = !showNotif">Notificaciones</button>
  <!-- Notification box -->
  <div class="notif-box" *ngIf="showNotif">
    <button class="button close-button" (click)="showNotif = false">Close</button>
    <p *ngFor="let notif of notifications">{{notif}}</p>
  </div>
</div>