.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/menu.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.buttons-container {
  position: absolute;
  bottom: 30px; /* Aumenta este valor para subir los botones */
  left: 50%; /* Centra los botones horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centrar exactamente los botones */
  text-align: center; /* Alinea los botones al centro */
}

.buttons-wrapper {
  display: flex; /* Establece el contenedor como un flexbox */
  justify-content: center; /* Centra los elementos hijos horizontalmente */
}

.button {
  margin: 0 50px; /* Ajusta el espacio entre los botones */
  background-color: #28a745; /* Verde como color de fondo */
  border: none; /* Sin bordes */
  color: white; /* Texto en blanco */
  padding: 12px 30px; /* Relleno alrededor del texto */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  display: inline-block; /* Permite establecer un ancho */
  font-size: 18px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero al pasar el ratón */
  border-radius: 25px; /* Esquinas redondeadas */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra sutil */
  transition: all 0.2s; /* Transición suave para efectos de hover */
  margin: 0 20px;
}

.button:hover {
  transform: translateY(-2px); /* Ligeramente hacia arriba al pasar el ratón */
  background-color: #218838; /* Un tono de verde más oscuro para el estado hover */
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Sombra aumentada */
}

.notif-button {
  position: fixed;
  right: 0;
  bottom: 0;
  bottom: 30px;
}

.notif-box {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow: auto;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  padding: 1rem;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.notif-box p {
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.button-jugar {
  margin: 0 50px; /* Ajusta el espacio entre los botones */
  background-color: #007bff; /* Verde como color de fondo */
  border: none; /* Sin bordes */
  color: white; /* Texto en blanco */
  padding: 18px 45px; /* Relleno alrededor del texto */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  display: inline-block; /* Permite establecer un ancho */
  font-size: 25px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero al pasar el ratón */
  border-radius: 25px; /* Esquinas redondeadas */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra sutil */
  transition: all 0.2s; /* Transición suave para efectos de hover */
  margin: 0 20px;
}

.button-jugar:hover {
  transform: translateY(-2px); /* Ligeramente hacia arriba al pasar el ratón */
  background-color: #0069d9; /* Un tono de verde más oscuro para el estado hover */
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Sombra aumentada */
}