<div class="main-container">
    <div class="side-container left"></div>
    <div class="amigos-container">    
    
    <div class="amigos-container">
        <div class="listaAmigos">
        <h1>Lista de Amigos</h1>
        <ul class="user-container">
            <li *ngFor="let spot of listaAmigos">
                <div class="user-info">
                    <span class="uid">{{spot}}</span>
                </div>
            </li>
        </ul>
        </div>
    </div>
  

</div>
<div class="side-container right"></div>
</div>