<div class="full-screen-background">
    <div class="scrollable-container">
        <form class="custom-form" method="post" #loginForm="ngForm">
            <h1>Amigos</h1>
            <div class="NuevoAmigo">
                <h2>Añadir Amigos</h2>
                <input type="nuevoAmigo" id="nuevoAmigo" [(ngModel)]="nuevoAmigo" name="nuevoAmigo" placeholder="Nombre de Jugador" required="required" class="form-control" ngModel />
                <button type="submit" class="btn-primary" [disabled]="!loginForm.valid" (click)="addAmigos()">Añadir Amigo</button>
            </div>
        </form>
        <div class="leaderboard">
            <h2>Lista de Amigos</h2>
            <ul class="list-unstyled">
                <li *ngFor="let spot of listaAmigos" class="user-container">
                    <div class="user-info">
                        <span>{{spot}}</span>
                        <button class="btn-elim" (click)="delAmigos(spot)">X</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-secondary" routerLink="/menu">Volver</button>
    <button class="btn" routerLink="/solicitudes">Solicitudes</button>

</div>