<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skins</title>
</head>
<body>
    <div class="container">
        <h1>Skins</h1>
        <div class="tabs">
            <button (click)="switchTab('owned')" [class.active]="currentTab === 'owned'">En propiedad</button>
            <button (click)="switchTab('equipped')" [class.active]="currentTab === 'equipped'">Equipadas</button>
        </div>
        <div *ngIf="currentTab === 'owned'" class="columns">
            <div class="column">
                <h2>Avatares</h2>
                <ul class="product-list">
                    <ng-container *ngFor="let skin of ownedSkins">
                        <li [ngStyle]="{'background-color': getBackgroundColor(skin.tipo)}"
                            *ngIf="currentTab === 'owned' && skin.tipo === 'Avatar'">
                            <img [src]="skin.path" [alt]="skin.idSkin">
                            <div>
                                <h3>{{ skin.idSkin }}</h3>
                                <h4>{{ skin.tipo }}</h4>
                                <button (click)="equipSkin(skin.idSkin)" *ngIf="!isEquipped(skin)">Equipar</button>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="column">
                <h2>Sets de Fichas</h2>
                <ul class="product-list">
                    <ng-container *ngFor="let skin of ownedSkins">
                        <li [ngStyle]="{'background-color': getBackgroundColor(skin.tipo)}"
                            *ngIf="currentTab === 'owned' && skin.tipo === 'SetFichas'">
                            <img [src]="skin.path" [alt]="skin.idSkin">
                            <div>
                                <h3>{{ skin.idSkin }}</h3>
                                <h4>{{ skin.tipo }}</h4>
                                <button (click)="equipSkin(skin.idSkin)" *ngIf="!isEquipped(skin)">Equipar</button>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="column">
                <h2>Terrenos</h2>
                <ul class="product-list">
                    <ng-container *ngFor="let skin of ownedSkins">
                        <li [ngStyle]="{'background-color': getBackgroundColor(skin.tipo)}"
                            *ngIf="currentTab === 'owned' && skin.tipo === 'Terreno'">
                            <img [src]="skin.path" [alt]="skin.idSkin">
                            <div>
                                <h3>{{ skin.idSkin }}</h3>
                                <h4>{{ skin.tipo }}</h4>
                                <button (click)="equipSkin(skin.idSkin)" *ngIf="!isEquipped(skin)">Equipar</button>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        
        <div *ngIf="currentTab === 'equipped'">
            <div class="product-list" style="display: flex; flex-direction: column;">
                <div>
                    <h2>Avatar</h2>
                    <ul>
                        <li *ngIf="equippedSkins.avatar">
                            <img [src]="equippedSkins.avatar.path" [alt]="equippedSkins.avatar.path">
                            <div>
                                <h3>{{ equippedSkins.avatar.idSkin }}</h3>
                                <button disabled>Equipada</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2>Terreno</h2>
                    <ul>
                        <li *ngIf="equippedSkins.terreno">
                            <img [src]="equippedSkins.terreno.path" [alt]="equippedSkins.terreno.path">
                            <div>
                                <h3>{{ equippedSkins.terreno.idSkin }}</h3>
                                <button disabled>Equipada</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2>Set Fichas</h2>
                    <ul>
                        <li *ngIf="equippedSkins.setFichas">
                            <img [src]="equippedSkins.setFichas.path" [alt]="equippedSkins.setFichas.path">
                            <div>
                                <h3>{{ equippedSkins.setFichas.idSkin }}</h3>
                                <button disabled>Equipada</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="button" routerLink="/perfil">Atrás</button>
    </div>
</body>
</html>
