
button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    color: white;
    background-color: #808080;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #666666;
}

button:active {
    background-color: #4d4d4d;
}

body {
    background-image: url('/assets/img-2d3IDaHACsstyAx6hCGZP.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 800px;
    margin: auto auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333333;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    color: #333333;
    outline: none;
    transition: color 0.3s;
}

.tabs button.active {
    color: #ff0000; /* Change color for active tab */
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease;
}

.product-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-list img {
    width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.product-list h3 {
    margin-top: 0;
    color: #333333;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1 0 0; /* This will make each column take up an equal amount of space */
    margin-bottom: 20px; /* Add some bottom margin for when the columns stack */
}

/* Add a media query for screens smaller than 600px */
@media (max-width: 600px) {
    .column {
        flex: 1 0 100%; /* Make the columns stack on top of each other */
    }
}