@keyframes war {
    0% { background-color: red; }
    50% { background-color: yellow; }
    100% { background-color: red; }
}

.war {
    animation: war 1s infinite;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1000;
}

.image-box {
    width: 100px; /* adjust as needed */
    height: 100px; /* adjust as needed */
    overflow: hidden;
}

.user-img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.chat-bubble {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.chat-bubble::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #f0f0f0;
}

.my-message {
    background-color: #a8e6cf;
}

.my-message::after {
    left: auto;
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #a8e6cf;
}
