.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo de reserva */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('/assets/call-duty-wwii.jpg'); /* Actualiza con la ruta correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container h1 {
    margin-bottom: 30px;
    color: #fff; /* Cambia el color a blanco */
    font-size: 2.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Aumenta el espacio entre los botones */
}

.btn {
    white-space: nowrap;
    background-color: #556b2f; /* Green background */
    padding: 15px 40px; /* Ajustar el relleno */
    border-radius: 25px; /* Ajustar los bordes redondeados */
    width: 200px; /* Ajustar el ancho */
    justify-content: center; /* Alinear el contenido horizontalmente */
    align-items: center; /* Alinear el contenido verticalmente */
    overflow: hidden; /* Ocultar el desbordamiento */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra */
    /* Adding larger darker bottom part */
    border-bottom: 5px solid rgba(0,0,0,0.3); /* Agregar borde inferior */
    margin-right: 10px; /* Agregar margen a la derecha */
    color: white; /* White text */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    text-decoration: none; /* Remove underline from links */
    text-align: center; /* Center the text */
    cursor: pointer; /* Mouse pointer on hover */
    transition: all 0.2s; /* Smooth transition for hover effects */
}

.btn:hover {
    background-color: #556b2f; /* Green background on hover */
    transform: translateY(-2px); /* Levantar un poco en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Aumentar la sombra en hover */
}

