.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.full-screen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/call-duty-wwii.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.container h1 {
    margin-bottom: 30px;
    color: #fff; /* Cambia el color a blanco */
    font-size: 2.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Aumenta el espacio entre los botones */
}

.btn {
    white-space: nowrap;
    background-color: #28a745; /* Verde como color de fondo */
    padding: 12px 30px; /* Ajustar el relleno */
    border-radius: 25px; /* Ajustar los bordes redondeados */
    width: 200px; /* Ajustar el ancho */
    justify-content: center; /* Alinear el contenido horizontalmente */
    align-items: center; /* Alinear el contenido verticalmente */
    overflow: hidden; /* Ocultar el desbordamiento */
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /* Agregar sombra */
    margin-right: 10px; /* Agregar margen a la derecha */
    color: white; /* Texto en blanco */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    text-align: center; /* Centrar el texto */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
    transition: all 0.2s; /* Transición suave para efectos de hover */
}

.logotipo {
    width: 50%;
}

.btn:hover {
    transform: translateY(-2px); /* Levantar un poco en hover */
    background-color: #218838; /* Un tono de verde más oscuro para el estado hover */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Aumentar la sombra en hover */
}

.btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
