<div class="full-screen-background">
    <h1>Tabla de Clasificación</h1>
    <div class="scrollable-container">
        <div class="leaderboard">
            <div class="user-info">
                <h3> Mi elo: {{getElo()}}</h3>
    
            </div>
            <ul class="list-unstyled">
                <li *ngFor="let spot of leaderboard" class="user-container">
                    <div class="user-info">
                        <span>{{spot.idUsuario}}</span><span>{{spot.elo}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="back-button" routerLink="/menu">Volver</button>

</div>
