.main-container {
    display: flex;
    justify-content: space-between;
    background-color: #e0f7fa; /* El mismo color de fondo que el ranking-container */
}

.side-container {
    flex-grow: 1; /* Hace que los contenedores de los lados crezcan y ocupen el espacio disponible */
    background-color: #e0f7fa; /* Asegúrate de que este sea el mismo color que el del ranking-container */
}

.ranking-container {
    /* Tus estilos existentes aquí */
    /* Asegúrate de que no tenga un ancho fijo si quieres que los contenedores laterales se ajusten correctamente */
    flex-grow: 2; /* Esto hará que el contenedor central sea más ancho que los laterales */
    margin: 0 20px; /* Esto agrega un poco de espacio entre los contenedores laterales y el central */
}

.ranking-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #e0f7fa; /* Color celeste claro */
}

  
  .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .user-info {
    margin: 0 10px;
  }
  
  .leaderboard {
    margin-top: 40px;
  }
  
  .leaderboard h2 {
    margin-bottom: 20px;
  }