.full-screen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/login_regis.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.login-container {
    max-width: 400px;
    width: 90%;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 1;
    text-align: center; /* Centrar el contenido dentro del contenedor */
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/login_regis.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left; /* Alinear los labels y campos de texto a la izquierda */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.btn {
    width: 80%;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: #218838;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
